@page
@model IndexModel
@{
    ViewData["Title"] = "Mortgage Calculator";
}

<div class="text-center">
    <h1 class="display-4">Mortgage Calculator</h1>
    <p><a asp-page="/Mortgage">Calculate your Mortgage</a></p>
</div>
